**Step-1** Importing the required libraries

In [1]:
import pandas as pd
import datetime as dt
from nsepy import get_history as gh

**Step-2** Fetching the training data

In [2]:
start = dt.datetime(2013,1,1)
end=dt.datetime(2018,12,31)
stk_data=gh(symbol='SBIN', start=start, end=end)

In [3]:
stk_data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2013-01-01,SBIN,EQ,2385.50,2404.9,2434.05,2397.55,2425.3,2426.45,2423.75,1720230,4.169403e+14,64215,662638,0.3852
2013-01-02,SBIN,EQ,2426.45,2450.0,2464.00,2438.15,2451.9,2450.55,2453.53,1466012,3.596900e+14,61823,508795,0.3471
2013-01-03,SBIN,EQ,2450.55,2460.0,2482.40,2436.20,2470.7,2471.60,2465.12,2010309,4.955653e+14,71411,820537,0.4082
2013-01-04,SBIN,EQ,2471.60,2460.0,2492.95,2450.65,2490.0,2486.70,2475.69,1370595,3.393164e+14,62637,231546,0.1689
2013-01-07,SBIN,EQ,2486.70,2490.0,2499.00,2461.75,2465.0,2467.60,2481.24,1026449,2.546866e+14,48683,269798,0.2628

In [4]:
stk_data.shape

(1483, 14)

**Step-3** Storing the fetched dataset

In [5]:
stk_data.to_csv(r'stk_train_data.csv')

**Step-4** Fetching the testing data

In [6]:
testdataframe = gh(symbol='SBIN', start=dt.datetime(2019, 1, 1), end=dt.datetime(2019,9,18))

In [7]:
testdataframe.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2019-01-01,SBIN,EQ,295.90,297.50,300.70,293.85,300.70,299.60,296.77,11837127,3.512877e+14,69723,1668134,0.1409
2019-01-02,SBIN,EQ,299.60,299.10,302.50,293.10,293.80,293.90,298.20,25559853,7.622010e+14,162196,7019907,0.2746
2019-01-03,SBIN,EQ,293.90,295.00,295.55,290.10,291.05,291.10,292.87,17548347,5.139324e+14,110626,6361787,0.3625
2019-01-04,SBIN,EQ,291.10,292.10,299.00,291.50,297.30,297.65,296.18,19514041,5.779686e+14,142962,4963982,0.2544
2019-01-07,SBIN,EQ,297.65,301.05,301.50,295.20,296.55,296.30,298.25,14579399,4.348321e+14,113554,4817960,0.3305

In [8]:
testdataframe.shape

(176, 14)

**Step-5** Storing the fetched data

In [9]:
testdataframe.to_csv(r'stk_test_data.csv')